.header {
  width: 100%;
  height: max-content;
  margin-top: 4rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.brand__name {
  font-family: "Roboto", sans-serif;
  font-size: 3.6rem;
  text-transform: capitalize;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.category__heading {
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  color: #333;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
}

.flex__container {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.category__btn {
  width: 100%;
  height: max-content;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(238, 32, 101);
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
